@use '../utilities/' as *;

.hero {
  height: 60vh;
  // width: 100vw;
  background-image: linear-gradient(rgba(0,0,0, 0.1), $blue), url('/src/assets/hero-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  
  &__container {
    max-width: 1280px;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: space-around;
  }
  
  &__text {
    position: relative;
    width: 60%;
    
    img {
      width: 300px;
      padding: 30px 0;
    }
  }

  &__buttons {

    button {
      font-size: 1.6rem;
      cursor: pointer;
      border-radius: 2px;
      border: none;
      outline: none;
      padding: 10px 25px;
      margin-top: 30px;
    }
    
    &-play {
      margin-right: 1rem;
      background-color: $white;
    }

    &-info {
      background-color: grey;
      color: $white;
    }

    &-icon {
      margin-right: 10px;
    }
  }

}
