.movie {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  gap: 10px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    width: 32%;
    position: relative;
    width: 200px;
  }

}