@use '../utilities/' as *;

.nav {
  position: fixed;
  height: 100px;
  width: 100%;
  padding: 20px 100px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  transition: all .5s linear;
  background: linear-gradient(0deg, rgba(17,17,17,0) 0%, rgba(17,17,17,1) 100%);

  &__logo {
    // position: fixed;
    left: 100px;
    width: 70px;
  }

  &__title {
    font-family: 'Zen Tokyo Zoo', cursive;
    letter-spacing: 1rem;
    color: $orange;
    text-shadow: 2px 2px $white, 4px 4px $pinkishred;
  }

  &__user {
    // position: fixed;
    right: 100px;
    width: 60px;
  }

  &-background {
    background: black;
  }
}