// Colors
$blue: #16152F;
$taupe: #DBD7B9;
$pinkishred: #D85C37;
$white: #FFFFFF;
$orange: #EEAC13;
$kindapink: #F18063;
$almostblack: #363A37;
$lightblue: #C4D8D7;

// Fonts
$section-header: 'Zen Tokyo Zoo', cursive;